<h1>
    User:
</h1>

<ul>
    <li>
        User name:
        <b><%= user.username %> </b>
    </li><li>
        Email  :
        <b><%= user.email %> </b>
    </li>
    <li>
        Admin:
        <b><%= user.isAdmin ? "Yes" : "No" %> </b>
    </li>
</ul>
<a href="/users/<%= user.id %>/edit" class="button">Edit</a>
<a href="/users/<%= user.id %>?_method=DELETE" class="button">Delete</a>